## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.sln.ide/
*.dbmdl
*.jfm
*.ipch
*.iobj
*.ipdb

## Rider
.idea/
*.sln.iml

## NuGet
packages/
*.nupkg
**/[Pp]ackages/*

## Build
[Bb]uild/
[Dd]ebug/
[Rr]elease/
*.exe
*.pdb
*.dll
*.xml
